---
title:          GitHub Gallery
image_folder:   /images/
max_width:      900px
sort_by:        modified_time   # modified_time or path (notice: path is case sensitive)
date_format:    "%A, %B %-d, %Y"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<ul class="ins-imgs">

    {% assign imgs = (site.static_files | sort: page.sort_by) %}
    {% for img in imgs reversed %}
    {% if img.path contains page.image_folder %}
    {% assign img_name = img.path | remove: page.image_folder | split: '.' | first %}
    {% assign img_date = img.modified_time | date: page.date_format %}

    <li class="ins-imgs-li" id="{{ img_name }}">
        <div class="ins-imgs-img" onclick=this.classList.toggle("zoom");>
            <a name="{{ img.path }}" href="#{{ img_name }}">
                <img src=".{{ img.path }}"
                     alt="{{ img_name }}"
                     style="max-width: {{ page.max_width }}"/>
            </a>
        </div>
        <div class="ins-imgs-label">Image name: {{ img_name }} (added {{ img_date }})</div>
    </li>

    {% endif %}
    {% endfor %}

</ul>

<footer>
    <a href="https://github.com/lthr/github-gallery" target="_blank">GitHub Gallery</a>
</footer>
</body>
</html>


